<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    
    <link rel="stylesheet" th:href="@{/css/output.css}" >
  </head>
  <body>
    <!--/* Standard layout can be mixed with Layout Dialect */-->
    <div th:replace="fragments/header :: header">      
    </div>
    <div class="container"><!--Content 내용 영역을 참조합니다-->        
        <div th:fragment="content"></div>        
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
  </body>